.container {
  height: 100vh !important;
  width: 100vw !important;
}

.contentWrapper {
  overflow: auto !important;
  height: calc(100vh - 72px) !important;
}

.sidebarMenu {
  position: relative;
  height: 100vh;
  overflow: auto;
}

.sidebarToggleMenu {
  height: auto;
  width: auto;
  padding: 6px;
}

.headerContainer {
  line-height: 0px !important;
  height: 72px !important;
  padding-right: 16px !important;
  padding-left: 0px !important;
}

.headerWrapper {
  align-items: center !important;
  height: 100% !important;
}

.menuContainer {
  border-inline-end: none !important;
  padding-bottom: 68px !important;
}

.menuEmailBtn {
  display: flex !important;
  align-items: center !important;
  padding: 0 10px !important;
}